<template>
  <v-container fluid>
    <v-card>
      <v-card-title>Home page</v-card-title>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Home',
  components: {},
  data: function () {
    return {}
  },
  mounted: function () {
  }
}
</script>
