<template>
  <v-container fluid>
    <v-row
        justify="center"
        align="center"
      >
      404 page
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Home',
  components: {},
  data: function () {
    return {}
  }
}
</script>
