<template>
  <v-navigation-drawer
      app
      dark
      v-model="drawer"
      :mini-variant.sync="mini"
      permanent
    >
    <v-list dense>
      <v-list-item @click.stop="mini = !mini">
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>John Leider</v-list-item-title>

        <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>
      <v-list-item
        v-for="item in items"
        :key="item.text"
        link
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content @click="navigateTo(item.route)">
          <v-list-item-title>
            {{ item.title }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider />
      <v-list-item
        class="mt-4"
        link
      >
        <v-list-item-action>
          <v-icon color="grey darken-1">mdi-plus-circle-outline</v-icon>
        </v-list-item-action>
        <v-list-item-title class="grey--text text--darken-1">Browse Channels</v-list-item-title>
      </v-list-item>
      <v-list-item link>
        <v-list-item-action>
          <v-icon color="grey darken-1">mdi-settings</v-icon>
        </v-list-item-action>
        <v-list-item-title class="grey--text text--darken-1">Manage Subscriptions</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data () {
    return {
      drawer: true,
      mini: true,
      items: [
        { title: 'Home', icon: 'mdi-home-city', route: 'home' },
        { title: 'My Account', icon: 'mdi-account', route: 'profile' },
        { title: 'Users', icon: 'mdi-account-group-outline', route: 'users' }
      ],
      items2: [
        { picture: 28, text: 'Joseph' },
        { picture: 38, text: 'Apple' },
        { picture: 48, text: 'Xbox Ahoy' },
        { picture: 58, text: 'Nokia' },
        { picture: 78, text: 'MKBHD' }
      ]
    }
  },
  methods: {
    drawerChange: function (isOpened) {
      console.log('1')
    },
    navigateTo: function (route) {
      this.$router.push({ name: route })
    }
  },
  mounted: function () {
    this.$bus.$on('drawer-changed', 'drawerChange')
  }
}
</script>
