<template>
  <v-app-bar
      app
      dense
      elevation="0"
    >
      <v-icon class="mx-4">fab fa-youtube</v-icon>
      <v-toolbar-title class="mr-12 align-center">
        <span class="title">Dashboard VUE</span>
      </v-toolbar-title>
      <v-spacer />
      <v-menu
        transition="slide-x-transition"
        bottom
        right
      >
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>John Leider</v-list-item-title>
                <v-list-item-subtitle>Founder of Vuetify.js</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn fab small elevation="2">
              <v-icon>mdi-account-edit</v-icon>
            </v-btn>
            <v-btn fab small elevation="2">
              <v-icon>mdi-anchor</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-app-bar>
</template>

<script>
export default {
  data: function () {
    return {
    }
  },
  methods: {
  }
}
</script>
