<template>
  <div id="app">
    <component :is="layout"></component>
  </div>
</template>

<style lang="scss">
</style>

<script>
const defaultLayout = 'default'

export default {
  computed: {
    layout () {
      return (this.$route.meta.layout || defaultLayout) + '-layout'
    }
  }
}
</script>
