<template>
  <v-app id="inspire">
    <Menu />
    <Toolbar />
    <Content />
  </v-app>
</template>

<script>
import Menu from '@/components/Menu'
import Toolbar from '@/components/Toolbar'
import Content from '@/components/Content'

export default {
  props: {
    source: String
  },
  data: () => ({}),
  components: {
    Menu,
    Toolbar,
    Content
  },
  created () {
    this.$vuetify.theme.dark = false
  }
}
</script>
