<template>
  <v-container fluid>
    <Table v-if="items" :items="items" :headers="headers"/>
  </v-container>
</template>

<script>
import Table from './Table'
import services from '@/http'

export default {
  components: {
    Table
  },
  data: function () {
    return {
      items: '',
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: true,
          value: 'id'
        },
        { text: 'Nome', value: 'name' },
        { text: 'Email', value: 'email' },
        { text: 'Data', value: 'created_at' },
        { text: 'Actions', value: 'action', sortable: false }
      ]
    }
  },
  mounted: function () {
    console.log(services)
    services.users.list().then(res => {
      this.items = res.data.data
    })
  }
}
</script>
